.checkout{
    display:flex;
    height:max-content;
    background-color:  #dadada;
    padding:20px;
}
.checkout__img{
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title{
    padding:10px;
    border-bottom:1px solid black;
}
.checkout__right{
    background-color:aqua;
}

@media  screen and (max-width:720px) {
    .checkout__right{
        width:50%;
    }
    .checkout__left{
        width:50%;
    }
 }