.product{
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    background-color:white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}
.product__image{
    max-height: 275px;
    width:100%;
    object-fit: contain;
    margin-bottom:15px;
}
.product__info{
    height: 450px;  
    object-fit: contain;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}

.product__button{
    background-color: #F7CA00 ;
    color: black;
    border: 1px solid;
    border-radius: 24px;
    padding: 8px 50px;
    border-color: white;
    margin-top: 10px;
}




.product:hover{
    box-shadow:7px 6px 28px 1px rgb(247, 7, 7);
    transform: translate(1px,1px);
    
}   
.product__button:active {
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translate(1px,1px);
}


@media screen and (max-width:720px) {
.product__image, .product__info {
        object-fit: contain;
        margin-bottom: 2px;
    }
}